{% extends "index.html" %}

{% block content %}
{{super()}}
<p>Графи́ческий планше́т (от англ. graphics tablet или graphics pad, drawing tablet, drawing tab, digitizing tablet, digitizer — дигитайзер, диджитайзер) — это устройство для ввода информации, созданной от руки, непосредственно в компьютер. Состоит из пера (стилуса) и плоского планшета, чувствительного к нажатию или близости пера. Также может прилагаться специальная мышь.</p>
<hr/>
<p>Компью́терная мышь — координатное устройство для управления курсором и отдачи различных команд компьютеру. Управление курсором осуществляется путём перемещения мыши по поверхности стола или коврика для мыши. Клавиши и колёсико мыши вызывают определённые действия, например: активация указанного объекта, вызов контекстного меню, вертикальная и горизонтальная (в специализированных мышках) прокрутка веб-страниц, окон операционной системы и электронных документов.</p>

<p>Получила широкое распространение в связи с появлением графического интерфейса пользователя на персональных компьютерах. Помимо мышек, встречаются другие устройства ввода аналогичного назначения: трекболы, тачпады, графические планшеты, сенсорные экраны.</p>
<hr/>
<p>Игровой пульт (геймпад — англ. gamepad, джойпад — англ. joypad) — тип игрового манипулятора. Представляет собой пульт, который удерживается двумя руками, для контроля его органов управления используются большие пальцы рук (в современных геймпадах также часто используются указательные и средние пальцы).</p>

<p>Геймпады обеспечивают взаимодействие между игроком и игровой консолью. Также геймпады используются на персональных компьютерах в играх поддерживающих их, заменяя игроку клавиатуру (обычную или игровую) и мышь. Стандартное исполнение геймпада таково: под левой рукой кнопки направления (вперёд-назад-влево-вправо), под правой — кнопки действия (прыгнуть, выстрелить).</p>
{% endblock %}