body { 
  max-width: 1200px;
  margin: 0 auto;
  background-color: #88Ð°;
  font-family: "Oswald", sans-serif;
}
.mainmenu {  
  margin: 0 auto;
  background: #361212;
  display: flex;
  justify-content: space-between;
}
.mainmenu-list {
  color: #9e6219;
  font-size: 36px;
  list-style-type: none;
}
.mainmenu-list a {
text-decoration: none;
color: rgb(230, 180, 135);
}
.mainmenu-list a:visited {
  color: rgb(230, 180, 135);
}
.mainmenu-list a:hover {
color: rgb(155, 61, 61);
}
p {
  color: rgb(17, 110, 31);
  font-size: 20px;
}
h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 95px;
  padding-top: 192px;
  padding-bottom: 34px;
  color: rgb(9, 45, 136);
  padding: 0;
  margin: 0;
  align-items: center;
}
h1:hover {
  color: rgb(172, 60, 60);
}
.flash {
  padding: 10px;
}
.flash.success {
  bottom: 1px solid #21db56;
  background: #aeffc5;
}
.flash.error {
  bottom: 1px solid #ff4343;
  background: #ff9c9c;
}
